// Mixins Here
.img {
  width: 28%;
  margin: 20px 2.5%;
  .border-radius(20px);
  height: 100%;
}
.center {
  display: flex;
  justify-content: center;
}
.default {
   text-align: center;
}
.border-radius(@radius:10px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  o-border-radius: @radius;
  ms-border-radius: @radius;
}

.button(@width, @height, @bgColor, ) {
  width: @width;
  height: @height;
  background-color: @bgColor;

}


.set-text-color (@bg-color) when (lightness(@bg-color) >= 50%) {
  color: @dark;
  background: @bg-color;
}

.set-text-color (@bg-color) when (lightness(@bg-color) < 50%) {
  color: @light;
  background: @bg-color;
}
